<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #5</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="255,255,255" />
                <SvgColor Name="Paint High" Value="42,54,59" />
                <SvgColor Name="Paint Shadow" Value="51,65,71" />
                <SvgColor Name="Paint Deep Shadow" Value="61,75,81" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="128,142,148" />
                <SvgColor Name="Brush High" Value="255,255,255" />
                <SvgColor Name="Brush Major" Value="65,79,85" />
                <SvgColor Name="Brush Minor" Value="65,79,85" />
                <SvgColor Name="Accent Paint" Value="232,74,95" />
                <SvgColor Name="Accent Paint Light" Value="255,132,124" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="245,147,160" />
                <SvgColor Name="Key Paint" Value="232,74,95" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="245,147,160" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="218,224,227" />
                <SvgColor Name="Gray" Value="114,129,135" />
                <SvgColor Name="White" Value="51,65,71" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="218,224,227" />
                <SvgColor Name="altWhite" Value="51,65,71" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="63,63,63" />
                <SvgColor Name="Paint High" Value="242,242,242" />
                <SvgColor Name="Paint Shadow" Value="179,114,237" />
                <SvgColor Name="Paint Deep Shadow" Value="255,255,255" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="255,255,255" />
                <SvgColor Name="Brush High" Value="0,0,0" />
                <SvgColor Name="Brush Minor" Value="213,213,213" />
                <SvgColor Name="Brush Major" Value="38,38,38" />
                <SvgColor Name="Accent Paint" Value="178,162,199" />
                <SvgColor Name="Accent Paint Light" Value="203,175,239" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="251,190,209" />
                <SvgColor Name="Key Paint" Value="179,114,237" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="255,255,255" />
                <SvgColor Name="Red" Value="226,54,66" />
                <SvgColor Name="Green" Value="60,146,92" />
                <SvgColor Name="Blue" Value="58,116,194" />
                <SvgColor Name="Yellow" Value="252,169,10" />
                <SvgColor Name="Black" Value="99,99,99" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="Gray" Value="177,188,196" />
                <SvgColor Name="altRed" Value="226,54,66" />
                <SvgColor Name="altGreen" Value="60,146,92" />
                <SvgColor Name="altBlue" Value="58,116,194" />
                <SvgColor Name="altYellow" Value="252,169,10" />
                <SvgColor Name="altBlack" Value="99,99,99" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #3">
                <SvgColor Name="Paint" Value="57,62,70" />
                <SvgColor Name="Paint High" Value="57,62,70" />
                <SvgColor Name="Paint Shadow" Value="57,62,70" />
                <SvgColor Name="Paint Deep Shadow" Value="31,73,125" />
                <SvgColor Name="Brush" Value="238,238,238" />
                <SvgColor Name="Brush Light" Value="128,132,141" />
                <SvgColor Name="Brush High" Value="238,238,238" />
                <SvgColor Name="Brush Major" Value="90,94,101" />
                <SvgColor Name="Brush Minor" Value="90,94,101" />
                <SvgColor Name="Accent Paint" Value="90,94,101" />
                <SvgColor Name="Accent Paint Light" Value="76,82,92" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="255,255,255" />
                <SvgColor Name="Key Paint" Value="113,255,0,0" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="255,255,255" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="229,229,229" />
                <SvgColor Name="Gray" Value="128,132,141" />
                <SvgColor Name="White" Value="71,75,83" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="229,229,229" />
                <SvgColor Name="altWhite" Value="71,75,83" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #4">
                <SvgColor Name="Paint" Value="57,62,70" />
                <SvgColor Name="Paint High" Value="57,62,70" />
                <SvgColor Name="Paint Shadow" Value="71,75,83" />
                <SvgColor Name="Paint Deep Shadow" Value="81,85,93" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="240,0,0" />
                <SvgColor Name="Brush High" Value="244,232,232" />
                <SvgColor Name="Brush Major" Value="46,50,57" />
                <SvgColor Name="Brush Minor" Value="138,192,0,0" />
                <SvgColor Name="Accent Paint" Value="192,0,0" />
                <SvgColor Name="Accent Paint Light" Value="76,82,92" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="240,0,0" />
                <SvgColor Name="Key Paint" Value="37,42,52" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="112,117,128" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="229,229,229" />
                <SvgColor Name="Gray" Value="128,132,141" />
                <SvgColor Name="White" Value="71,75,83" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="229,229,229" />
                <SvgColor Name="altWhite" Value="71,75,83" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #5">
                <SvgColor Name="Paint" Value="57,62,70" />
                <SvgColor Name="Paint High" Value="57,62,70" />
                <SvgColor Name="Paint Shadow" Value="71,75,83" />
                <SvgColor Name="Paint Deep Shadow" Value="81,85,93" />
                <SvgColor Name="Brush" Value="238,238,238" />
                <SvgColor Name="Brush Light" Value="128,132,141" />
                <SvgColor Name="Brush High" Value="238,238,238" />
                <SvgColor Name="Brush Major" Value="90,94,101" />
                <SvgColor Name="Brush Minor" Value="90,94,101" />
                <SvgColor Name="Accent Paint" Value="240,0,0" />
                <SvgColor Name="Accent Paint Light" Value="76,82,92" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="255,166,189" />
                <SvgColor Name="Key Paint" Value="37,42,52" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="112,117,128" />
                <SvgColor Name="Red" Value="240,0,0" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="229,229,229" />
                <SvgColor Name="Gray" Value="128,132,141" />
                <SvgColor Name="White" Value="71,75,83" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="229,229,229" />
                <SvgColor Name="altWhite" Value="71,75,83" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>